＜App.css＞ body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff5e5;
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
  padding: 20px;
  background-color: #faebd7;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #6b4226;
}

.wafer-image {
  width: 200px;
  margin: 20px 0;
  transition: transform 0.2s ease-in-out;
}

.wafer-image:hover {
  transform: scale(1.05) rotate(-2deg);
}

.button {
  display: inline-block;
  padding: 12px 25px;
  margin: 10px;
  font-size: 1em;
  color: #fff;
  background: linear-gradient(145deg, #6b4226, #8b5742);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.button:hover {
  background: linear-gradient(145deg, #8b5742, #6b4226);
  transform: translateY(-2px);
}

.collected-stickers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px; /* 間隔の調整 */
  margin-top: 20px;
}

.sticker-small {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.new-badge {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #ff4081;
  color: white;
  padding: 2px 5px;
  font-size: 10px;
  border-radius: 3px;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup-content {
  position: relative;
  background-color: #fff0e0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 200px;
}

.sticker-large {
  width: 100%;
  height: auto;
}

.popup-new-badge {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #ff4081;
  color: white;
  padding: 2px 5px;
  font-size: 10px;
  border-radius: 3px;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.close-popup-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #6b4226;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.close-popup-button:hover {
  background-color: #8b5742;
}
